extends layout

block content
  .container
      .jumbotron.text-center
        h1
          span.fa.fa-lock
          |  QUIZ APP
        p Login or Register with:
        a.btn.btn-danger(href="/auth/google")
          span.fa.fa-google-plus
          |  Google